@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap');

:root {
  --first-background-color: #f9f9f9;
  --second-background-color: #EAEAEA;
  --aczent-color: #4D495C;
  --card: #fff;
  --white: #fff;
  --search-background: #fff;
  --text: #222;
  --muted: #666;
  --primary: #6A16CC;
  --secondary: #73A0F1;
  --icon-color: #292D32;
  --shadow: rgba(0, 0, 0, 0.05);
  --disabled: rgba(234, 234, 234, 0.5);
  --disabled-text: rgba(77, 73, 92, 0.5);;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  background-color: var(--first-background-color);
}

html.dark {
  --first-background-color: #2B2730;
  --second-background-color: #4D495C;
  --aczent-color: #f7f7f7;
  --card: #2B2730;
  --white: #fff;
  --search-background: #4D495C;
  --text: #e6e6e6;
  --muted: #9aa0a6;
  --primary: #907DFF;
  --secondary: #2F43E7;
  --icon-color: #f7f7f7;
  --shadow: rgba(77, 73, 92, 1);
  --disabled: rgba(77, 73, 92, 0.5);
  --disabled-text: rgba(234, 234, 234, 0.5);
}

#app {
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text);
}
